<!--  -->
<div class="strategies" data-percent="{{ props.percent }}" data-risk="{{ props.risks }}" data-title="{{props.title}}">
	<div class="strategies__advantage">
		<div class="strategies__percent-value">
			<div class="strategies__curs">
				{{ props.currency }}
			</div>
			<div class="strategies__percents" >
				{{ props.percent }}%
			</div>
		</div>
		<div class="strategies__story">
			<div class="strategies__portfolio" >
				{{ props.risk }}
			</div>
			<div class="strategies__last-title">
				{{ props.title }}
			</div>
			<div class="strategies__description">
				{{ props.descr }}
			</div>
		</div>
	</div>
	<div class="strategies__footer strategies-container_mobile">
		<div class="strategies__wrap">
			{{ props.company }}
			<svg role="img" class="invalid-name">
				<use xlink:href="#invalid-name"></use>
			</svg>
		</div>
		<div class="strategies__address">
			<a href="" class="strategies__download">
				<svg role="img" class="download-pdf">
					<use xlink:href="#download-pdf"></use>
				</svg>
				<div class="strategies__download-text">Скачать описание</div>
			</a>
			<a href="" class="strategies__income">
				<svg role="img" class="group">
					<use xlink:href="#group"></use>
				</svg>
				<div class="strategies__income-text">Рассчитать доходность</div>
			</a>
		</div>
		<a href="" class="strategies__button">
			Выбрать <span class="strategies__button-text_desk">этот модельный портфель</span><span class="strategies__button-text_mobile">эту стратегию</span> →
		</a>
	</div>
</div>
